/*Fab button*/
.fab-button {
    height: 0 !;
    width: 0 !important;
    outline: 0px !important;
    
    z-index: 1001;
    background-color: transparent !important;
    position: fixed !important;
    bottom: 1em !important;
    right: 1em !important;
    left: auto !important;
    top: auto !important;
  }

  
  
  
  .fab-button.active{
    height: 4em !important;
    width: 4em !important;
    border-radius: 100%;
    background: transparent;
    color: white;
    background-color: white !important;
    transition: .8s ease;
    animation: fadeIn linear .8s ;
  
  }

  .fab-button.active:hover{
    transition: .3s ease;

box-shadow: 1px 2px 1px 2px white;
  
  }
  
  .fa-arrow-up{
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    display: flex;
    transition:.8s  ease;
    flex-direction: column;
    animation: fadeIn linear .8s ;
  
  }
  
  .hidefab{
    color: transparent;
  }

  @keyframes fadeIn {
    0% {opacity:0.2;}
    100% {opacity:1;}
  }